/* src/index.css */
@import "tailwindcss";

@theme {
  /* Configuração da paleta de cores Premium para a açaiteria no Tailwind v4 */
  --color-brand-dark: #1e0b36; /* Roxo profundo para fundos institucionais */
  --color-brand-purple: #6d28d9; /* Roxo principal da marca */
  --color-brand-light: #f5f3ff; /* Fundo claro sutil */
  --color-brand-accent: #10b981; /* Verde esmeralda para CTAs e WhatsApp */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
